html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-container {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  transition: 1s;
  position: fixed;
  width: 100%;
}

.nav-links {
  /* background: red; */
  display: flex;
  justify-content: center;
  text-align: center;
  /* padding: 2em; */
}

.nav-links li {
  /* background-color: blue; */
  padding: 1em;
}

.nav-links a {
  color: white;
  font-weight: 700;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .hero {
    height: 80vh;
  }
}

.hero::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: -3;
  background: rgb(0, 0, 0, 0.2);
}

#video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  object-fit: cover;
}

.hero-text {
  color: white;
  font-size: 2em;
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 230, 235);
  background-image: url("../images/cntower.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.about-text {
  text-align: center;
  background: rgb(2, 125, 229);
  border-radius: 50px;
  border: 5px;
  border-color: black;
  border-style: solid;
  color: white;
  width: 58%;
  margin: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

@media screen and (max-width: 600px) {
  .about-text {
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#me {
  width: 25%;
  margin: 2%;
}

.connect .title {
  margin-top: 0;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  /* font-size: 2vw; */
  text-align: center;
}

.connect {
  padding-top: 2%;
  padding-bottom: 1%;
  background-image: linear-gradient(red, blue);
  background-attachment: fixed;
}

/* Text color */
.connect h1 {
  color: white;
  /* font-size: 1vw; */
}

@media screen and (max-width: 600px) {
  .connect h1 {
    font-size: 28px;
  }
  .social-icons h1 {
    font-size: 21px;
  }
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  /* overflow: hidden; */
}

.social-icons img {
  max-width: 100%;
  max-height: 100%;
}

.contact .title {
  margin-top: 0;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  color: white;
  /* font-size: 2vw; */
}

.contact {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("../images/cntower.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contact .contact-text {
  /* display: flex; */
  /* justify-content: center; */
  margin-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;

  text-align: center;
  background: rgb(2, 125, 229);
  border-radius: 50px;
  border: 5px;
  border-color: black;
  border-style: solid;
  color: white;
  /* padding: 2%; */
  /* font-size: 1vw; */
}

@media screen and (max-width: 600px) {
  .contact .contact-text {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.contact .solid {
  border-top: 2px solid #bbb;
  margin-left: 15%;
  margin-right: 15%;
}

.contact .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.contact button {
  background-color: rgb(229, 85, 2);
  border-radius: 10px;
  border-width: 5px;
  font-size: 2em;
  color: white;
  box-shadow: 0px 15px 20px rgba(229, 85, 2, 0.4);
  cursor: pointer;
}

.contact button:hover {
  background-color: rgb(52, 235, 128);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(2px);
}

.contact .or {
  display: flex;
  justify-content: center;
  color: white;
}

.phone {
  color: white;
}

.contact .phone {
  display: flex;
  font-size: 2em;
  justify-content: center;
  color: white;
  text-shadow: 3px 1px rgb(229, 85, 2), 7px 2px black;
}

.footer {
  background: linear-gradient(rgb(95, 95, 95), black);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectlinks a {
  margin-left: 10px;
  margin-right: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  background: black;
  color: grey;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.navscroll {
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
}
